<html>
<style>
        .button{
                color: grey;
                padding: 16px 32px;
                text-align: center;
                font-size: 16px;
                margin: 4px 2px;
                transition-duration: 0.3s;
                cursor: pointer;
        }
        .button:hover{
                background-color: #008CBA;
                color: white;
        }
</style>
<head>
        <h1 style="color:B19CD9; text-align:center">Update</h1>
</head>
<body>
	<!--Form to collect user info-->
	<p>Enter the Id of the user you want to update and the new new and/or points information.</p>
        <form action="{{ url_for("update")}}" method="post">
	<label for="Name">Name:</label>
        <input type="text" id="Name" name="Name" placeholder="Name">
        <label for="Id">Id:</label>
        <input type="text" id="Id" name="Id" placeholder="Id">
        <label for="Points">Points:</label>
        <input type="text" id="Points" name="Points" placeholder="Points">
	<button type="submit">Submit</button>
	<p><br></p>
	<!--Return to home page button-->
        <input type="button" class="button" value="Home Page" onclick="window.location.href='/'">
</body>
</html>
