<head>
<style>
	.button{
		color: grey;
		padding: 16px 32px;
		text-align: center;
		font-size: 16px;
		margin: 4px 2px;
		transition-duration: 0.3s;
		cursor: pointer;
	}
	.button:hover{
		background-color: #B19CD9;
  		color: white;
	}
</style>
</head>
	<h1 style="color:B19CD9; text-align:center">Homework 1</h1>
<body style="background-color:F0F8FF;">
        <input type="button" class="button" value="Create" onclick="window.location.href='/create'">
	<p><br></p>
	<input type="button" class="button" value="Update" onclick="window.location.href='/update'">
	<p><br></p>
	<input type="button" class="button" value="Read" onclick="window.location.href='/read'">
        <p><br></p>
        <input type="button" class="button" value="Delete" onclick="window.location.href='/delete'">
	<p><br></p>
        <input type="button" class="button" value="Display" onclick="window.location.href='/display'">
</body>

